{% extends "teacherbase.html"%}
{% block body %}
<div class="body">
    <form action="/search" method="POST">
        <input type="number" name="ID" placeholder="ID" class="input_field"><br>
        <input type="submit" value="Search" class="input_submit">
    </form>
</div>
{% for i in search_info %}
<ul>
    <li>ID Number: {{i[0]}}</li>
    <ul>
        <li>Name: {{i[1]}}</li>
        <li>Subject Taught: {{i[2]}}</li>
        <li>Subject Being Taken: {{i[3]}}</li>
    </ul>
</ul>
{% endfor %}
<style>
    .body{
        margin: auto;
    }
    .input_field {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .input_submit {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .input_submit:hover {
      background-color: #45a049;
    }
</style>
{% endblock %}